@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap'); */
/* * {
    font-family: outfit;
}  */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');


* {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
/* 
.tech_head {
  font-family: "Hurricane", cursive;
  font-weight: 900;
  font-style: normal

}

.normal_text {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


html {
    scroll-behavior: smooth;
  }

  .text_nav {
    font-family: "Foldit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }  

  .text_nav  {
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

.hero_text {
      font-family: "Cardo", serif;
      font-weight: 600;
      /* font-style: normal; */
    /* }
    * {
      font-family: "Metal Mania", system-ui;
      font-weight: 400;
      font-style: normal;
    } */
  
    /* */ 

    html {
  scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}
